.toy-preview {
    height: 250px;
    margin: 50px;
    padding: 0 20px;
    border: 1px solid blueviolet;
    background-color: lightsalmon;
}

.toy-list {
    flex-wrap: wrap;
    align-items: center;
}
